/* Estil per a totes les ciutats */
.ciudad {
  display: block;
  margin-bottom: 20px;
  font-style: red;
}

/* Estilo per al nom de la ciutat */
.ciudad[nombre] {
  font-size: 20px;
  font-weight: bold;
}

/* Estilo per a tots els cotxes */
.coche {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Estilo per a marca del cotxe */
.coche[marca] {
  font-size: 16px;
  font-weight: bold;
}

/* Estil per al model del cotxe */
.modelo {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Estil per al color del cotxe */
.color {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Estil per a l'any del cotxe */
.ano {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Estil per al preu del cotxe */
.precio {
  font-size: 16px;
  font-weight: bold;
  color: green;
}